.NavContainer {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: flex-end;
}

.Nav {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
  margin: 0 100px 0 0;
  padding: 0;
}

.navItem {
  /* border: 1px solid pink; */
  /* margin: 40px 0; */
  padding: 40px 20px;
  font-size: 24px;
  text-transform: uppercase;
  /* border-bottom: 3px solid pink; */
  /* border-bottom: none; */
  cursor: pointer;
}
