.PortfolioContainer {
  /* border: 1px solid yellow; */
  margin: 40px 0 30px 0;
  display: flex;
  justify-content: space-around;
}

.Portfolio {
  /* border: 1px solid red; */
  /* border: 1px solid #000; */
  border-radius: 12px;
  background: #eee;
  box-shadow: rgba(245, 239, 239, 0.35) 0px 5px 15px;
  width: 25%;
}

.portfolioPic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  height: 200px;
}

.portfolioDetails {
  /* border: 1px solid yellow; */
  width: 90%;
  margin: 30px auto 10px auto;
  color: #000;
}

.portfolioAbout {
  /* border: 1px solid orange; */
}

.portfolioAbout h4 {
  text-align: left;
  margin: 0;
}

.portfolioTech {
  /* border: 1px solid pink; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 20px 0 10px 0;
}

.techs {
  /* border: 1px dotted lawngreen; */
  border-radius: 3px;
  background: blue;
  padding: 2px 9px;
  font-size: 12px;
  text-transform: capitalize;
}

.portfolioDesc {
  /* border: 1px dotted lawngreen; */
  /* display: flex; */
  font-size: 13px;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.portfolioLink {
  /* border: 1px dashed orange; */
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.link {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 6px;
  /* cursor: pointer; */
  /* justify-content: space-around;
  width: 40%; */
}

.link i {
  font-size: 14px;
  margin-right: 5px;
}

.link a {
  text-transform: capitalize;
  font-size: 13px;
  text-decoration: none;
  color: #000;
}
