.headerContainer {
  /* border: 1px solid red; */
  margin-top: 60px;
}

.headerContainer h1 {
  /* border: 1px solid yellow; */
  /* color: #ccc; */
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 70px;
}

.mainContainer {
  /* border: 1px solid orange; */
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 60px auto;
}

.picDisplayContainer {
  border: 3px solid peru;
  width: 25%;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 2px;
}

.picDisplay {
  /* border: 1px solid #000; */

  height: 150px;
  width: 150px;
  /* background: peru; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.mainContainer h3 {
  /* border: 1px solid red; */
  width: 74%;
  letter-spacing: 0.15em;
  line-height: 1.5em;
}

@media only screen and (min-width: 200px) and (max-width: 414px) {
  .headerContainer h1 {
    /* border: 1px solid yellow; */
    margin-top: 50px;
    font-size: 27px;
  }

  .picDisplayContainer {
    border: 3px solid peru;
    width: 25%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 2px;
  }

  .picDisplay {
    height: 80px;
    width: 80px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 844px) {
  .main {
    /* border: 1px solid orange; */
    margin-top: 80px;
    padding: 0;
  }

  .headerContainer h1 {
    /* border: 1px solid yellow; */
    margin-top: 0px;
    font-size: 37px;
  }

  .mainContainer {
    /* border: 1px solid orange; */
    width: 90%;
    flex-direction: column;
    margin: 30px auto;
  }

  .mainContainer h3 {
    /* border: 1px solid red; */
    width: 100%;
  }
}
